<html>
<head>
<title>HelloWorld build log</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<tt>
Build started on: <u>24-01-2017 at 15:01.01</u><br />
Build ended on: <u>24-01-2017 at 15:01.01</u><p />
<b>-------------- Build: Debug in HelloWorld (compiler: GNU GCC Compiler)---------------</b><br />
mingw32-g++.exe -Wall -fexceptions -g -pedantic-errors -pedantic -Wfatal-errors -Wextra -Wall -g  -c P:\!FH-Projects\Hacking-INF\Hacking-INF\App_Data\Examples\Template\CPP-HelloWorld\src\main.cpp -o obj\Debug\main.o<br />
mingw32-g++.exe  -o bin\Debug\HelloWorld.exe obj\Debug\main.o<br />
Output file is bin\Debug\HelloWorld.exe with size 1.02 MB<br />
<font color="#0000ff">Process terminated with status 0 (0 minute(s), 0 second(s))</font><br />
<font color="#0000ff">0 error(s), 0 warning(s) (0 minute(s), 0 second(s))</font><br />
</tt>
</body>
</html>
